# Misc
.idea
.sass-cache
**/__pycache__

# Environment
.env
.env_test

# Virtual environments
test_env
env
venv

# Data
data

# Source images
static/**/images/src

# JavaScript API
static/src/scripts/api.js

node_modules
recreate_db.sh
