{% extends "daily_quote/base_daily_quote.html" %}
{% load static %}

{% block home %}
    <div id="home">
        <img src="{% static 'images/SVG/kwoat-frog.svg' %}" alt="Kwoatzle the frog">
    </div>
{% endblock home %}

{% block hide %}
    {% if not user.is_authenticated %}
        class='hide'
    {% endif %}
{% endblock hide %}

{% block feed %}
    <div id="alpha-test">
        <p>Welcome! We're currently in the alpha testing phase of this application.</p>
        <p>
            Please continue to support our app by coming back everyday for a new kwoat!
            Every time you like or dislike a kwoat it helps us gather data so we can
            continue adding new features and provide a better user experience.
        </p>
        <p>Thanks for visiting, and we'll see you soon!</p>
    </div>
{% endblock feed %}
