$feed-color: $quote-container-color;

#feed {
  @include boxify($accent-color, $feed-color);
  margin: 100px 0;

  h3 {
    padding-top: 20px;
    padding-left: 35px;
    border-bottom: 2px dotted $feed-color;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      padding: 25px 35px;
      list-style: none;
      border-bottom: 2px solid $feed-color;
      line-height: 1.2;
    }
  }
}