@mixin boxify($background-color, $border-color) {
  background-color: transparentize(lighten($background-color, 10%), 0.2);
  border: 2px solid $border-color;
  box-shadow: 0 3px 15px transparentize(black, 0.4);
  overflow: hidden;
}