#container {
  // push content below fixed navigation bar
  margin: 200px 0 100px;
  width: 100vw;

  // position in the center in the home view
  display: flex;
  justify-content: space-around;

  &.active {
    // display on the right in the profile view
    justify-content: flex-end;
  }

  #profile {
    @include boxify($accent-color, $theme-color-main);

    // pin to left
    //position: fixed;
    //left: 0;
    //top: 14%;

    // display as centered column
    display: flex;
    flex-direction: column;
    align-items: center;

    // the sum of the max-width and horizontal padding should be
    // the complement of the width of #quote-container (including padding)
    width: 35vw;
    margin: 0 2vw 100px 3vw;

    //height: 80vh;
    overflow: hidden;
    background: $accent-color fixed;

    #profile-header {
      // display in horizontally centered row
      box-sizing: border-box;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      background-color: $theme-color-main;
      color: $accent-color;
      padding: 0 20px;

      h3 {
        font-weight: normal;
      }

      a {
        color: inherit !important;
      }
    }
  }

  #profile-editing, #profile-guest, #profile-user {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 0 25px;

    p {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 15px 0;
      flex-wrap: wrap;

      span.helptext {
        flex-basis: 100%;
      }

      span:first-child {
        font-style: oblique;
        color: #888;
      }

      &:last-child {
        span:last-child {
          flex-basis: 100%;
        }

        span:last-child {
          margin-top: 15px;
        }
      }
    }
  }

  #profile-editing {
    textarea {
      // ensure bounds don't overflow parent
      flex-basis: 100%;
    }
  }
}